<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--Import bootstrap.css-->
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.css"/>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../assets/icons/icomoon/style.css">
  <title>Log In</title>
</head>

<body class="bg-img heigth login">
    <div class="container-fluid">
      <div class="row justify-content-center align-items-center heigth">
        <form class="row justify-content-center col-10">
          <div class="form-group col-8">
            <p class="center"><b><u>INGRESA</u></b></p>
            <span class="icon-user"></span>
            <label for="email-login">Email address:</label>
            <input id="email" type="email" placeholder="Ingresa email">
          </div>
          <div class="form-group col-8">
            <span class="icon-lock"></span>
            <label for="password-login">Password:</label>
            <input id="contrasena" type="password" placeholder="Ingresa contraseña">
          </div>
          <div class="contenedor-input col-8">
            <input id="btn-login"  type="submit" value="Acceder" class="btn btn-outline-primary btn-lg">
          </div>
          <p class="forgot col-8">
            <a id="message"href="#">Se te olvidó la contraseña?</a>
          </p>
      </form>
    </div>
  </div>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/app.js"></script>
  <script src="../js/login.js"></script>
</body>
</html>
